/*----------reset----------*/
* { box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0) !important; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td { margin: 0; padding: 0; }
html { height: 100%; /*font-size: 625%; 相当于font-size: 100px*/ font-size: 12px !important; }
body { position: relative; margin: 0 auto; font-size: 14px }
body, button, input, select, textarea { line-height: 1.5; font-family: "Microsoft YaHei"; color: #323232; }
h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5, h6 { font-size: 12px; }

address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "fzzhengheis-r-gbregular"; }
small { font-size: 12px; }

ul, ol { list-style: none; }

a { color: #323232; text-decoration: none; outline: none; }
a:hover, a:active, a:visited { color: #ff8585; text-decoration: none; }

legend { color: #323232; }
fieldset, img { border: none; }
img { vertical-align: top; }
button, input, select, textarea { outline: none; font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="button"], input[type="submit"], input[type="reset"], textarea { -webkit-appearance: none; -moz-appearance: caret;  } /* 去掉iPhone、iPad的默认内阴影,圆角*/
input[type="submit"], input[type="button"] { border-radius: 4px; }
input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

/*移除HTML5 input在type="number"时的上下小箭头*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type="number"] { -moz-appearance: textfield; }
ul,li { list-style: none; }
hr { height: 1px; border: 0; background: #eaeaea; }

/*RESET select*/
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #ccc;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    border-radius: 4px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
/* select.form-control { */
    /* background: #ffffff url("../images/select_arpdr10.png") no-repeat scroll right center; */
/* } */

.left { float: left; }
.right { float: right; }
.ft18 { font-size: 18px !important; }
.ft14 { font-size: 14px !important; }
.font-normal { font-weight: normal; }
.mtbai10 { margin-top: 10%; }
.mtbai20 { margin-top: 20%; }
.pd2 { padding: 2%; }
.pd5 { padding: 5%; }
.pdt6 { padding-top: 6px; }
.pdlr30 { padding-left: 30px; padding-right: 30px; }
.pdtb30 { padding-top: 30px; padding-bottom: 30px; }
.mt20 { margin-top: 19px; }
.mt40 { margin-top: 40px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.mlr10 { margin-left: 10px; margin-right: 10px; }
.mtb10 { margin: 10px 0; }
.mtb20 { margin: 20px 0; }
.mb20 { margin-bottom: 20px; }
.mb40 { margin-bottom: 40px; }
.mb60 { margin-bottom: 60px !important; }
.mr20 { margin-right: 20px; }
.orange { color: #ff4646; }
.green { color: #00b09f !important; }
.red { color: #ff6969; }
.bg-red { background-color: #ff6969; }
.bg-white { background-color: #ffffff; }
.gray { color: #808080; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.ic { display: inline-block; width: 44px; height: 44px; background: url("../images/ics.png") no-repeat; }
.ic-san { width: 20px; height: 24px; background-position: 0 0; }
.ic-arrow-right { width: 12px; height: 8px; background-position: -30px 0; }
.ic-edit { width: 135px; height: 132px; background-position: 0 -35px; }
.ic-lingdang { width: 137px; height: 132px; background-position: 0 -170px; }
.ic-search { width: 142px; height: 132px; background-position: 0 -300px; }
.ic-arr-right { width: 18px; height: 8px; margin-left: 10px; background-position: -50px 0; }
.ic-radio { width: 18px; height: 18px; margin-right: 12px; background-position: -73px 2px; vertical-align: middle; }
.ic-radio-active { background-position: -96px 2px; }
.ic-code { width: 44px; height: 44px; background-position: 9px -457px; }
.ic-computer { width: 44px; height: 44px; background-position: -42px -457px; }
.ic-no-info { width: 60px; height: 61px; background-position: 0 -634px; }

.mbtn { 
    display: inline-block;
    border: 0; 
    padding: 8px 30px; 
    border-radius: 2px; 
    background: #ff6969; color: #ffffff !important; line-height: 1.5; 
    text-align: center; white-space: nowrap; 
    vertical-align: middle;
}
.mbtn-gray { background: #dbdbdb; }

body {
    min-width: 290px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #fafbfc;
}
/*paging start*/
.pages {  position: relative; float: left; left: 50%; }
.M-box { position: relative; float: left; left: -50%; text-align: center; zoom: 1; }
.M-box:before, .M-box:after { content:""; display: table; }
.M-box:after { clear: both; overflow: hidden; }
.M-box span { float: left; margin: 0 5px; width: 38px; height: 38px; line-height: 38px; color: #bdbdbd; font-size: 14px; border-radius: 4px; }
.M-box .active { float: left; margin: 0 5px; width: 38px; height: 38px; line-height: 38px; background: #2bc76f; color: #fff; font-size: 14px; border: 1px solid #2bc76f; }
.M-box a { float: left; margin: 0 5px; width: 38px; height: 38px; line-height: 38px; border: 1px solid #ebebeb; background: #fff; border-radius: 4px; color: #bdbdbd; font-size: 14px; }
.M-box a:hover { color: #fff; background: #2bc76f; }
.M-box .next, .M-box .prev { font-family: "Simsun"; font-size: 16px; font-weight: bold; }
.now, .count { padding: 0 5px; color: #f00; }
/*paging end*/

.loginbg { height: 100%; background: #14b3a4 url("../images/loginbg.jpg") no-repeat bottom center; background-size: contain }
.log-container {
    width: 100%;
    height: 100%;
    /*box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    display: box;
    box-orient: horizontal;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-box .sanh, .log-box .ic-phone, .log-box .ic-smscode, .log-box .ic-right, .log-box .ic-card { display: inline-block; background: url("../images/ics.png") no-repeat; }
.log-box { max-width: 1200px; width: 80%; padding: 5%; min-height: 390px; background: rgba(0,0,0,0.35); color: #ffffff; }
.log-box .log-logo { margin-bottom: 10px; }
.log-box .logo { max-height: 100px; max-width: 100%; }
.log-box .log-txt { line-height: 23px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden; text-overflow: ellipsis;  color: #ffffff; }
.log-box .sanh { float: right; width: 44px; height: 44px; background-position: 1px -519px; }
.log-box .pdr10 { padding-right: 15%; }
.log-box .input-box { height: 58px; margin-top: 20px; padding: 8px 0; border-bottom: 1px solid #ffffff; }
.log-box .input-boxkong { height: 58px; margin-top: 20px; padding: 8px 0; border-bottom: 1px solid transparent; }
.log-box .ic-phone { float: left; width: 34px; height: 40px; background-position: -1px -580px; }
.log-box .ic-smscode { float: left; width: 34px; height: 40px; background-position: -50px -579px; }
.log-box .ic-card { float: left; width: 34px; height: 40px; background-position: -136px -581px; }
.log-box .input { height: 40px; line-height: normal; border: 0; background: transparent; color: #ffffff; }
.log-box .input-60 { width: 58%; }
@media (max-width: 1024px) {
    .log-box .pdr10 { padding-right: 0; }
    .log-box .input-60 { width: 44%; }
}
.log-box .input-80 { width: 80%; }
.log-box .btn-code { float: right; height: 34px; line-height: 34px; margin-top: 3px; padding: 0 8px; border: 0; border-radius: 4px; background: rgba(0,0,0,0.26); color: #ffffff; }
.log-box:-moz-placeholder { color: #ffffff; opacity: 1; }/* Mozilla Firefox 4 to 18 */
.log-box::-moz-placeholder { color: #ffffff; opacity: 1; }/* Mozilla Firefox 19+ */
.log-box input:-ms-input-placeholder { color: #ffffff; opacity: 1; }
.log-box input::-webkit-input-placeholder { color: #ffffff; opacity: 1; }
.log-box .ic-right { vertical-align: middle; width: 20px; height: 20px; background-position: -97px -592px; }
.log-box .log-btn { margin-top: 40px; height: 40px; line-height: 40px; }
.log-box .log-btn .mbtn { height: 40px; padding: 0 30%; border-radius: 6px;margin: 0 auto; }
.log-box .ka { color: #ffffff; }

.modal-title { font-size: 16px; font-weight: 500; }
.btn-green { background-color: #2bc76f; color: #ffffff; }
.btn-green:hover { background-color: #1fce6b; color: #ffffff; }
.code-text { margin-top: 20px; font-size: 16px; }

.ubg { background: #0088b3 url("../images/nbg.png") no-repeat bottom center; background-size: contain; }
.ubg2 { background: #f7f7f7 url("../images/nbg2.jpg") repeat-x bottom center; background-size: contain; padding-bottom: 59px; }
.header { display: flex; align-items: center; justify-items: center; line-height: 64px; padding: 10px 0; background: #ffffff; }
.header .tou { height: 64px; line-height: 64px; color: #2bc76f; }
.header .logo { max-width: 50%; height: 64px; }
.header .hospital-name { margin-left: 10px; font-size: 16px; }

.box { width: 90%; margin: 20% auto 10px auto; padding: 5%; border-radius: 8px; background: rgba(255,255,255,0.5); color: #000000; }
@media (min-width:1000px) {
    .box { width: 50%; margin: 50px auto 10px auto; }
}
.login-out { line-height: 64px; color: #00b09f; cursor: pointer; }
.idx { margin-top: 37px; }
.idx>div { margin-bottom: 10px; }
@media (min-width: 1366px) {
    .idx { margin-top: 200px; }
}
.idx-box { width: 100%; padding: 20% 10%; margin-left: auto; margin-right: auto; background: #ffffff; text-align: center; }
.idx-box .mbtn { width: 80%; margin-top: 20px; }

.test { margin-bottom: 20px; margin-left: 0; margin-right: 0; border: 1px solid #eeeeee; background: #ffffff; }
.test .num-box { width: 100%; margin-top: 30%; text-align: center; }
.test .num1, .test .num2, .test .num3 { display: inline-block; width: 90px; height: 90px; background: url("../images/num.png") no-repeat; }
.test .num2 { background-position: 0 -90px; }
.test .num3 { background-position: 0 -180px; }
.test .cont { padding: 30px 20px; }
.test .txt { display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-flex: 3; margin: 20px 0; color: #999999; max-height: 64px; }
.btn-box { display: flex; width: 100%; height: 200px; justify-content: center; align-items: center; }
@media (max-width:1024px) {
    .test .num-box { margin-top: 20px;  }
    .btn-box { height: 100px; }
}
@media (max-width:768px) {
    .container { width: 100%; }
}

.test-answer { border: 1px solid #eeeeee; background: #ffffff; }
.test-answer .progress { margin-bottom: 0; margin-top: 6px; height: 6px; border-radius: 0; }
.test-answer .progress-bar-red { background: #ff6969; }
.test-answer .a-title { margin-bottom: 20px; font-size: 22px; }
.test-answer .radio { display: flex; align-items: center; padding: 10px; border: 1px solid #f0f0f0; cursor: pointer; color: #333333; font-size: 20px; }
.test-answer .radio.pic { display: inline-block; margin: 0 0 20px 28px; }
.test-answer .radio.pic .ic-radio { margin-top: 14px; }
.test-answer .radio.active { background: #dbdbdb; }
.test-answer .tImg { margin-left: 10px; max-width: 100%; max-height: 100px; }
.test-answer .aImg { margin-left: 10px; max-width: 100%; max-height: 60px; }
.test-answer .tips { line-height: 34px; }
a.btn-danger { color: #ffffff !important; }
.guide { color: #666666; }
.guide-txt { font-size: 20px; line-height: 34px; text-indent: 34px; }

.report-box { background: #ffffff; color: #808080; }
.report-box h2 { height: 55px; line-height: 55px; padding: 0 5px; background: #00b09f; color: #ffffff; text-align: center; display: -webkit-box; overflow: hidden;  text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.report .col-xs-3, .report .col-md-3 { padding-left: 10px; padding-right: 10px; margin-bottom: 20px; }
.report p { margin: 10px 0; display: -webkit-box; overflow: hidden;  text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.report-text h3 { margin-bottom: 10px; }
.report-text p { line-height: 40px; color: #4c4c4c; }
.r-title { margin: 40px 0 40px 0; font-size: 20px; font-weight: bold; }
.t-title { padding-bottom: 20px; border-bottom: 1px solid #eeeeee; font-weight: bolder; font-size: 22px; }
.rtitle2 { height: 60px; line-height: 60px; margin-bottom: 10px; font-size: 18px; font-weight: bolder; margin-top: 80px; text-align: center; background: #ececec; }
.guide p { line-height: 30px; }
.modal-open { overflow: auto; }

.yinzi { display: inline-block; border: 1px solid #ddf1f1; padding: 3px 8px; margin-bottom: 10px; border-radius: 30px; background: #f6fefe; font-size: 16px; }
.btn-submit { margin-top: 20px; padding: 15px 50px; font-size: 18px; }

.alert .modal-content, .alert .modal-content { background: #5e5e5e; color: #ffffff; }
.alert { display: flex; justify-content: center; align-items: center; overflow: hidden !important; }

.user-info { font-size: 16px; }
.user-info h3 { font-size: 18px; }
.user-info .mbtn { height: 40px; padding: 0 40px; border-radius: 6px; }
.user-info label { font-weight: normal; }

/*added by ml 2018-10-25*/
.table-blue { margin-bottom: 0; background: #fff; }
.table-blue>tbody>tr>td, .table-blue>tbody>tr>th { border-top: 0; vertical-align: middle; text-align: center; }
.table-blue>tbody>tr>th { padding: 15px 1%; border-top: 0; border-bottom: 1px solid #efefef; background: #55bcb5; text-align: center; color: #ffffff; font-size: 16px; }
.table-blue>tbody>tr>th:first-child { border-radius: 5px 0 0 0; }
.table-blue>tbody>tr>th:last-child { border-radius: 0 5px 0 0; }
.table-blue>tbody>tr>td { padding: 16px 1%; }
.table-blue>tbody>tr:last-child>td:first-child { border-radius: 0 0 0 5px; }
.table-blue>tbody>tr:last-child>td:last-child { border-radius: 0 0 5px 0; }
.table-blue>tbody>tr.active>td { background: #fbfbff; }
.table .divide-4 { width: 4%; }
.table .divide-5 { width: 5%; }
.table .divide-6 { width: 6%; }
.table .divide-8 { width: 8%; }
.table .divide-10 { width: 10%; }
.table .divide-12 { width: 12%; }
.table .divide-14 { width: 14%; }
.table .divide-15 { width: 15%; }
.table .divide-16 { width: 16%; }
.table .divide-18 { width: 18%; }
.table .divide-20 { width: 20%; }
.table .divide-22 { width: 22%; }
.table .divide-30 { width: 30%; }
.table .divide-40 { width: 40%; }
.table-border-tr { text-align: center; }
.table-border-tr th,
.table-border-tr td {
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.table-border-tr td {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.mbtn-b { display: inline-block; padding: 1px 8px; border: 0; border-radius: 50px; color: #ffffff; line-height: 1.5; text-align: center; white-space: nowrap; vertical-align: middle; }
.mbtn-blue { border: 1px solid rgba(117,228,220,0.6); color: #ffffff !important;
    background: #47bbbe;
    background: -webkit-linear-gradient(left, #56cac2, #148ab1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #56cac2, #148ab1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #56cac2, #148ab1); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #56cac2, #148ab1); /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56cac2', endColorstr='#148ab1');
}
.mbtn-blue:hover, .mbtn-blue:active, .mbtn-blue:visited { border: 1px solid rgba(117,228,220,0.7); color: #ffffff; text-decoration: none;
    background: #37abba;
    background: -webkit-linear-gradient(left, #4cbfb7, #0f85ad); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4cbfb7, #0f85ad); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4cbfb7, #0f85ad); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4cbfb7, #0f85ad); /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cbfb7', endColorstr='#0f85ad');
}

.panel {
     -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05);
     box-shadow: 0 0 0 rgba(0,0,0,.05);
}

/*批次报告*/
.rlegend-txt {
    padding-left: 5px;
    margin-right: 10px;
}
.color-grade {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-top: 7px;
    border-radius: 50px;
}
.color-grade1 { background: #9a0109; }
.color-grade2 { background: #e41b25; }
.color-grade3 { background: #f9a122; }
.color-grade4 { background: #fce27e; }
.color-grade5 { background: #4dd646; }
.color-grade6 { background: #8ee689; }
.r-tips {
    margin-top: 20px;
    margin-bottom: 40px;
}
.r-tips h3 {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.rdian {
    float: left;
    width: 10px;
    height: 20px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #47bbbe;
}
.r-title1 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}
.r-title2 {
    padding-bottom: 15px;
    border-bottom: 1px dashed #efefef;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.dment-box h2 {
    height: 55px;
    line-height: 55px;
    padding: 0 5px;
    border-radius: 4px 4px 0 0;
    background: #55bcb5;
    color: #ffffff;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.dment-box .dment {
    margin: 20px 10px;
    background: #f9f9f9;
    color: #808080;
}
.dment-box .mbtn {
    display: inline-block;
    border: 0;
    padding: 8px 30px;
    border-radius: 2px;
    background: #ff6969;
    color: #fff!important;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/* .content {
    border: 1px dashed #007AFF;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
} */
.checkimg {
    width: 65%;
}
.printWord {
    background: #ffffff;
    margin-top: 20px;
}
.printWord h1 {

    margin-top: 5px;
    text-align: center;
}
.printWord h3 {
    margin: 10px;
}
.printWord img {
    margin: 10px;
}
.printWord button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%)
}



.form-control { 
    height: 38px; 
    width: 70%;
    margin: 0 5% 0 5%;
}
.form-control-prompt {
    margin-top: 40px;
    font-size: 30px;
    color: #e41b25;
}
.q-image{
    display: block !important;
}